:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --alt-background-color: #F0F0F0;
    --border-color: #000000;
    --link-color: #ff0000;
}

body {

}

fieldset {

}

legend {

}

section {

}

div {

}

example {

}

code {

}

hr {

}

h1 {

}

p {

}