<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Widgets</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The official documentation for widgets on Fates List!">
        <meta name="og:title" content="API - Fates List" />
        <meta name="og:type" content="website" />
        <link rel="stylesheet" href="/assets/docs.css" />
    </head>

    <body>
        <h1>API Documentation</h1>
        
        <fieldset>
            <legend>Widgets</legend>
            <p>Fates List provides a customizable widgets API to allow you to make widgets!</p>
            <hr />

            <section id="styling">
                <div id="bg-color">
                    <p>You can use the <code>bgcolor</code> query parameter to change the background color of your widget!</p>
                    <example>
                        <code>?bgcolor=ffffff</code> <span>(white)</span>
                    </example>
                </div>

                <div id="text-color">
                    <p>You can use the <code>color</code> query parameter to change the text color of your widget!</p>
                    <example>
                        <code>?color=000000</code> <span>(black)</span>
                    </example>
            </section>
        </fieldset>
    </body>
</html>